body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.container {
    max-width: 500px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #2ba805;
    color: #fff;
    padding: 10px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00da0b;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px 0;
}
